# Credit to: https://www.gitignore.io/

### Emacs ###
# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# network security
/network-security.data

# ido
ido.last

# bookmark - too machine specific
bookmarks

# lsp and dap
.dap*
.lsp*
/.cache/
/auto-save-list/
/eclipse.jdt.ls/
/workspace/

# magit
/transient/

#ivy
recentf